* {
  font-family: "Anton", sans-serif;
  color: #af3e4d;
}
body {
}
h1 {
  text-align: center;
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 70vh;
  width: 70rem;
  border: 0.2px solid black;
  box-shadow: 2px 4px 8px #667;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #9cfffa;
}
.btnDiv {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.btnDiv img {
  width: 100px;
  transition-duration: 0.4s;
  transition-delay: 0.2s;
  padding: 2rem;
  margin: 2em;
  border: 0.2px solid black;
  border-radius: 40%;
  animation-name: flasher;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}
.btnDiv img:hover {
  transform: scale(0.8);
  -webkit-box-shadow: -7px 0px 20px 3px rgba(169, 124, 115, 0.78);
  -moz-box-shadow: -7px 0px 20px 3px rgba(169, 124, 115, 0.78);
  box-shadow: -7px 0px 20px 3px rgba(169, 124, 115, 0.78);
  border: none;
  cursor: pointer;
  animation-name: none;
}
.btnDiv span {
  color: #a97c73;
}
.results {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 1rem;
}
.userResultDiv,
.computerResultDiv {
  display: flex;
  /* border: 1px solid red; */
}
.computerResult img {
  visibility: hidden;
  width: 100px;
  margin: 20px;
}
.userResult img {
  width: 100px;
  margin: 20px;
  visibility: hidden;
}
@keyframes flasher {
  0% {
    border-top: 1px solid #a97c73;
  }
  25% {
    border-right: 1px solid #a97c73;
  }
  75% {
    border-bottom: 1px solid #a97c73;
  }
  100% {
    border-left: 1px solid #a97c73;
  }
}
