* {
  font-family: "Anton", sans-serif;
  color: #af3e4d;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(232, 229, 200);
}

h1 {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 40px;
}

.container {
  width: 70rem;
  border: 0.2px solid black;
  box-shadow: 2px 4px 8px #667;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #9cfffa;
}

.game-scores {
  display: flex;
  flex-direction: row; 
  padding-bottom: 1rem;
}

.score {
  padding: 0.3rem;
}

.btnDiv {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

img { outline: none; }

.btnDiv img {
  width: 100px;
  transition-duration: 0.4s;
  padding: 0.7rem;
  margin: 0 2em;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  display: inline;
}

.btnDiv img:hover {
  transform: scale(1.1);
  cursor: pointer;
  animation-name: none;
}

.btnDiv div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnDiv span {
  transition-duration: 0.4s;
  color: #a97c73;
  opacity: 0;
}

#rock:hover span {
  opacity: 1;
}

#paper:hover span {
  opacity: 1;
}

#scissors:hover span {
  opacity: 1;
}

.results {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 1rem;
}

.userResultDiv,
.computerResultDiv {
  display: flex;
}

.computerResult img {
  visibility: hidden;
  width: 100px;
  margin: 20px;
}

.userResult img {
  width: 100px;
  margin: 20px;
  visibility: hidden;
}

.results p {
  font-size: 23px;
}