* {
  font-family: "Anton", sans-serif;
  color: #af3e4d;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(232, 229, 200);
}
h1 {
  text-align: center;
  margin-bottom: 4rem;
}
.container {
  width: 70rem;
  border: 0.2px solid black;
  box-shadow: 2px 4px 8px #667;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #9cfffa;
}
.btnDiv {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.btnDiv img {
  width: 100px;
  transition-duration: 0.4s;
  padding: 2rem;
  margin: 2em;
  /* border: 1px solid black; */
  border-radius: 40%;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}
.btnDiv img:hover {
  transform: scale(1.1);
  cursor: pointer;
  animation-name: none;
}
.btnDiv span {
  color: #a97c73;
}
.results {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 1rem;
}
.userResultDiv,
.computerResultDiv {
  display: flex;
  /* border: 1px solid black; */
}
.computerResult img {
  visibility: hidden;
  width: 100px;
  margin: 20px;
}
.userResult img {
  width: 100px;
  margin: 20px;
  visibility: hidden;
}
